<!DOCTYPE html>
<html>

<head>
	<title>Map Tiles Downloader</title>
	<meta charset="utf-8" />
	<meta name='viewport'
		content='initial-scale=1,maximum-scale=1,user-scalable=no' />

	<!-- TODO replace jquery with react -->
	<script src="jquery.min.js"></script>
	<script src="libs\vue.global.3.3.4.js"></script>

	<!-- map -->
	<link rel="stylesheet"
		href="leaflet.pm/leaflet.css?v=1" />
	<link rel="stylesheet"
		href="leaflet.pm/leaflet-geoman.css?v=1" />
	<script src="leaflet.pm/leaflet.js?v=1"></script>
	<script src="leaflet.pm/leaflet-geoman.min.js?v=1"></script>


	<script src='libs/progressbar.js'></script>

	<script src="async.min.js"></script>
	<script src="turf.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"
		rel="stylesheet">

	<link href='fonts/fonts.css'
		rel='stylesheet'
		type='text/css' />
	<link href='style.css'
		rel='stylesheet'
		type='text/css' />
</head>

<body>

	<div id="app"
		class="max-height">

		<!-- 左边地图 -->
		<div class="max-height">
			<div id='map-view'></div>
			<div id='main-title'>Map Tiles Downloader</div>
		</div>

		<!-- 右边配置 -->
		<div class='sidebar'
			id='main-sidebar'>

			<h3>Export Configure</h3>
			<div>
				<button @click="startDownloading()">Download</button>
			</div>

			<div style="overflow-y: scroll; overflow-x: hidden; height: 80vh;">
				<!-- tile 服务器配置 -->
				<div>
					<h5>Tile Server</h5>
				</div>
				<div>
					<select v-model="selectedTileServer"
						class="max-width">
						<option v-for="(value, key) in tileServerDict"
							:value="value">{{key}}</option>
					</select>
				</div>
				<div>
					<input v-model="selectedTileServer"
						class="max-width"
						disabled>
				</div>


				<!-- 缩放配置： From -->
				<div>
					<h5>Zoom From</h5>
				</div>
				<div>
					<select v-model="zoomFrom"
						type="text"
						class="max-width">
						<option v-for="zoomIndex in zoomList"
							:value="zoomIndex">{{zoomIndex}}</option>
					</select>
				</div>

				<!-- 缩放配置： To -->
				<div>
					<h5>Zoom From</h5>
				</div>
				<div>
					<select v-model="zoomTo"
						type="text"
						class="max-width">
						<option v-for="zoomIndex in zoomList"
							:value="zoomIndex">{{zoomIndex}}</option>
					</select>
				</div>

				<!-- 输出缩放 -->
				<div>
					<h5>Out Scale</h5>
				</div>
				<div>
					<select v-model="outputScale"
						class="max-width">
						<option value="1">1x</option>
						<option value="2">2x</option>
					</select>
				</div>

				<!-- 输出类型 -->
				<div>
					<h5>Out Type</h5>
				</div>
				<div>
					<select v-model="outputType"
						type="text"
						class="max-width">
						<option value="directory">Directory</option>
						<option value="mbtiles">Mbtiles</option>
						<option value="repo">Repo</option>
					</select>
				</div>


				<!-- 输出格式 -->
				<div>
					<h5>Output File</h5>
				</div>
				<div>
					<input v-model="outputFile"
						type="text"
						class="max-width"
						disabled>
				</div>


				<!-- 并行线程 -->
				<div>
					<h5>Parallel Threads</h5>
				</div>
				<div>
					<select v-model="parallelThreads"
						type="text"
						class="max-width">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="4">4</option>
						<option value="6">6</option>
						<option value="8">8</option>
						<option value="16">16</option>
						<option value="32">32</option>
					</select>
				</div>
			</div>
		</div>


	</div>




	<script>
		function addScript(url) {
			var script = document.createElement("script");
			script.type = "text/javascript";
			script.src = url + "?v=" + Date.now();
			document.body.appendChild(script);
		}


		addScript("/common.js")
		addScript("/index.js")
	</script>
</body>

</html>